.DS_Store
.svn/
*.xlsx
*.7z
*.layout
*.depend
*.URL
*.a
*.so
obj/
bin/
doc/
CMakeFiles/
/Makefile
example_xlsxio_read
example_xlsxio_read_advanced
example_xlsxio_write
example_xlsxio_write_getversion
xlsxio_csv2xlsx
xlsxio_xlsx2csv
